@model AnThinhPhat.ViewModel.Menu.PageReferenceViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Thêm mới";
}
@{
    AjaxOptions ajaxOption = new AjaxOptions
    {
        Url = Url.Action("Create"),
        HttpMethod = "POST",
        OnBegin = "onAddMSTBegin",
        OnComplete = "onAddMSTComplete",
        OnSuccess = "onAddMSTSuccess",
        OnFailure = "onAddMSTFailure",
    };
}
@using (Html.BeginForm("Add", "PageReference", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Link<span class="required">*</span> </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.UrlLink, htmlAttributes: new { @class = "form-control", @id = "txtName" })
                @Html.ValidationMessageFor(model => model.UrlLink)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Image<span class="required">*</span> </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Image, htmlAttributes: new { type = "file", @class = "btn btn-info pull-left", @id = "imgFile", style = "max-width:300px;" })
                @Html.ValidationMessageFor(model => model.Image)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Mô tả</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Alt, htmlAttributes: new { @class = "form-control", @id = "txtDescription" })
                @Html.ValidationMessageFor(model => model.Alt)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <strong>Cho phép mở trang mới:</strong> @Html.CheckBoxFor(model => model.IsNewPage, htmlAttributes: new { @class = "check", @id = "chkIsNewPage" })
                @Html.ValidationMessageFor(model => model.IsNewPage)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" id="outer">
                <div class="inner"> <input type="submit" value="Thêm mới" class="btn btn-primary btn-width-md" name="btnSubmit" id="btnSubmit" /></div>
                <div class="inner">
                    <button type="button" class="btn btn-default btn-width-md" name="btnCancel" id="btnCancel" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
}
