@model AnThinhPhat.ViewModel.Menu.PageReferenceViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chỉnh sửa";
}

@{
    var srcImage = System.IO.Path.Combine("/Uploads/PHOTO",
        Model.Id.ToString().PadLeft(TechOfficeConfig.LENGTHFOLDER, TechOfficeConfig.PAD_CHAR),
        Model.UrlImage);
}

@using (Html.BeginForm("Edit", "PageReference", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UrlImage)
        <div class="form-group">
            <label class="control-label col-sm-2">Link<span class="required">*</span></label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.UrlLink, htmlAttributes: new { @class = "form-control", @id = "txtNameEdit" })
                @Html.ValidationMessageFor(model => model.UrlLink)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <img src="@srcImage" alt="@Model.Alt" width="150" height="120" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Image<span class="required">*</span> </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Image, htmlAttributes: new { type = "file", @class = "btn btn-info pull-left", style = "max-width:300px;" })
                @Html.ValidationMessageFor(model => model.UrlImage)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Mô tả</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Alt, htmlAttributes: new { @class = "form-control", @id = "txtDescriptionEdit" })
                @Html.ValidationMessageFor(model => model.Alt)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <strong>Cho phép mở trang mới:</strong> @Html.CheckBoxFor(model => model.IsNewPage, htmlAttributes: new { @class = "check", @id = "chkIsNewPage" })
            </div>
        </div>
        <div class="form-group">
            <div id="outer" class="col-sm-offset-2 col-sm-10">
                <div class="inner"><input type="submit" value="Lưu" class="btn btn-primary btn-width-md col-sm-2" name="btnEdit" id="btnEdit" /></div>
                <div class="inner"><button type="button" class="btn btn-default btn-width-md col-sm-2" name="btnCancel" id="btnCancel" data-dismiss="modal">Hủy</button></div>
            </div>
        </div>
    </div>
}

