<ul class="nav navbar-nav">
    <li>
        @Html.RouteLink("TRANG CHỦ", UrlLink.TRANGCHU)
    </li>
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"> Giới thiệu<b class="caret"></b> </a>
        <ul class="dropdown-menu">
            <li>
                @Html.RouteLink("Lịch sử hình thành", UrlLink.HISTORY)
            </li>
            <li>
                @Html.RouteLink("Sơ đồ tổ chức", UrlLink.CHART)
            </li>
        </ul>
    </li>
    <li>
        @Html.RouteLink("VĂN BẢN", UrlLink.VANBAN)
    </li>
    <li>
        @Html.RouteLink("THỦ TỤC", UrlLink.THUTUC)
    </li>
    <li>
        @Html.RouteLink("TÁC NGHIỆP", UrlLink.TACNGHIEP)
    </li>
    @if (User.IsInRole(RoleConstant.PHONGNOIVU))
    {
        <li>
            @Html.RouteLink("CÔNG VIỆC", UrlLink.CONGVIEC)
        </li>
    }
    <li>
        @Html.RouteLink("TIN TỨC", UrlLink.TINTUC)
    </li>
    <li class="last">
        @Html.RouteLink("LIÊN HỆ", UrlLink.LIENHE)
    </li>
</ul>

