<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="" />
    <meta name="seotitle" content="" />
    <meta name="seometakeyword" content="" />
    <meta name="seometadescription" content="" />

    <title>Phòng nội vụ huyện Phú Riềng</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="/image/vnd.microsoft.icon" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @{ Html.RenderPartial("_Header"); }
    <div class="bg dtapg">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @{ Html.RenderAction("MenuThuTuc", "Menu"); }
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @{Html.RenderPartial("_PartialPageLoading");}

    <footer>
        @{ Html.RenderPartial("_Footer"); }
    </footer>

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/unobtrusive")
    @RenderSection("scripts", false)
</body>
</html>