<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="" />
    <meta name="seotitle" content="" />
    <meta name="seometakeyword" content="" />
    <meta name="seometadescription" content="" />

    <title>@Labels.Page_Title</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="/image/vnd.microsoft.icon" />
    <link href="~/Content/app/loading.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
</head>
<body>
    @{ Html.RenderPartial("_Header"); }

    <div class="bg dtapg">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>

    @{Html.RenderPartial("_PartialPageLoading");}

    <footer>
        @{ Html.RenderPartial("_Footer"); }
    </footer>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/tech")
    @RenderSection("scripts", false)

    @section scripts{
        <script src="~/Scripts/app/templates.js"></script>
    }
</body>
</html>