@model  AnThinhPhat.Entities.Results.ThuTucResult

<div class="col-sm-12">
    <label>Tên thủ tục: </label>
    @Model.TenThuTuc
</div>
@*<div class="col-sm-12">
    <label>Ngày ban hành: </label>
    @if (Model.NgayBanHanh != null)
    {
        @(((DateTime)(Model.NgayBanHanh)).ToString("dd/MM/yyyy"))
    }  

</div>*@
<div class="col-sm-12">
    <label>Lĩnh vực thủ tục: </label>
    @Model.LinhVucThuTucInfo.Name
</div>
<div class="col-sm-12">
    <label>Nội dung thủ tục: </label><br/>
    @Model.NoiDung
</div>
@*<div class="col-sm-12">
    <label>Cơ quan thực hiện: </label>
    @if (Model.CoQuanThucHienIds.Any())
    {
        @Model.CoQuanInfos.Select(x => x.Name).Aggregate((a, b) =>
{
    return a + ", " + b;
})
    }
    else
    {
        
    }

</div>*@


<div class="col-sm-12">
    <label>Danh sách các tập tin</label>
    <br />
    @{ Html.RenderPartial("_PartialPageFiles", Model.Files);}
</div>