@model AnThinhPhat.ViewModel.ThuTuc.AddThuTucViewModel

@{
    Layout = "~/Views/Shared/_LayoutThuTuc.cshtml";
}

@using (Html.BeginForm("Add", "ThuTuc", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-sm-6">
        <label>Ngày ban hành<span class="required">*</span></label>
        @Html.EditorFor(x => Model.NgayBanHanh, "DateTime")
        @Html.ValidationMessageFor(x => x.NgayBanHanh)
    </div>
    <div class="col-sm-6">
        <label>Tên thủ tục<span class="required">*</span></label>
        @Html.TextBoxFor(x => Model.TenThuTuc, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TenThuTuc)
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12">
        <label>Nội dung<span class="required">*</span></label>
        @Html.TextAreaFor(x => Model.NoiDung, new { @id = "ckeContent" })
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-6">
        <label>Cơ quan thực hiện<span class="required">*</span></label>
        @Html.DropDownListFor(x => Model.CoQuanThucHienId, new SelectList(Model.CoQuanInfos, "Id", "Name"), "Chọn cơ quan thực hiện", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CoQuanThucHienId)
    </div>
    <div class="col-sm-6">
        <label>Lĩnh vực thủ tục<span class="required">*</span></label>
        @Html.DropDownListFor(x => Model.LinhVucThuTucId, new SelectList(Model.LinhVucThuTucInfo, "Id", "Name"), "Chọn lĩnh vực thủ tục", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LinhVucThuTucId)
    </div>
    <div class="clearfix"></div>
    <label class="col-sm-12">Các tập tin đính kèm</label>
    <div class="col-sm-12">
        @Html.TextBoxFor(x => x.Files, htmlAttributes: new { type = "file", multiple = "true", @class = "form-control btn btn-info pull-left", style = "max-width:300px;" })
    </div>


    <div class="clearfix"></div>
    <div id="outer" class="col-xs-12">
        <div class="inner">
            <input type="submit" class="btn btn-primary btn-width-md" value="Thêm mới" />
        </div>
        <div class="inner">
            @Html.RouteLink("Hủy", UrlLink.THUTUC, null, htmlAttributes: new { @class = "btn btn-primary btn-width-md" })
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/app/format-datetime.js"></script>
    <script src="~/Plugin/ckeditor/ckeditor.js"></script>
    <script src="~/Plugin/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace("ckeContent");
    </script>
}