@using PagedList;
@using PagedList.Mvc;

@model IPagedList<AnThinhPhat.Entities.Results.TacNghiepResult>

@{
    AjaxOptions ajaxPaging = new AjaxOptions()
    {
        UpdateTargetId = "tableAdmin",
        HttpMethod = "GET",
    };
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Ngày</th>
            <th class="text-center">Nội dung</th>
            <th class="text-center">Ngày hết hạn</th>
            <th class="text-center">Ngày hoàn thành</th>
            <th class="text-center">Ý kiến trao đổi</th>
            <th class="text-center">Lĩnh vực</th>
        </tr>
    </thead>
    @if (Model.Any())
    {
        <tbody>
            @foreach (var item in Model)
            {
                if (item.NgayHetHan < new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 0))
                {
                    @Html.Raw("<tr class='bg-danger'>")
                }
                else
                {
                    @Html.Raw("<tr>")
                }
            <td>
                @Html.DisplayFor(x => item.NgayTao, "DisplayDate")
            </td>
            <td>
                @Html.RouteLink(item.NoiDung, UrlLink.TACNGHIEP_DETAIL, routeValues: new { guid1 = Guid.NewGuid().ToString("N"), id = item.Id, guid2 = Guid.NewGuid().ToString("N") }, htmlAttributes: new { @class = "btn-link", target = "_blank" })
            </td>
            <td>@Html.DisplayFor(x => item.NgayHetHan, "DisplayDate")</td>
            <td>@Html.DisplayFor(x => item.NgayHoanThanh, "DisplayDate")</td>
                    <td>@item.NoiDungTraoDoi</td>
                    <td>@item.LinhVucTacNghiepInfo.IfNotNull(x => x.Name)</td>
                    @Html.Raw("</tr>")

            }
            </tbody>
    }
    else
    {
        <tr><td colspan="6">No rows found.</td></tr>
    }
    <tfoot>
        <tr>
            <td colspan="7">
                <div id="contentPager" class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("List", UrlLink.TACNGHIEP, new { page }),
                           PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ajaxPaging))
                </div>
            </td>
        </tr>
    </tfoot>
</table>