@model IEnumerable<AnThinhPhat.ViewModel.TacNghiep.ResultCongViecThucHien>

@if (Model.Any())
{
    foreach (var exe in Model)
    {
        <tr>
            <td class="col-sm-2">@exe.TrangThai</td>
            <td class="col-sm-2">
                @Html.DisplayFor(x => exe.NgayTao, "DisplayDate") <br /> @Html.DisplayFor(x => @exe.NgayHetHan, "DisplayDate")
            </td>
            <td class="col-sm-2">@exe.LinhVucString</td>
            <td class="col-sm-3">@Html.Raw(@exe.NoiDungCongViec)</td>
            <td class="col-sm-2">@Html.Raw(exe.VanBan)</td>
            <td class="col-sm-1">@Html.DisplayFor(x => exe.NgayHoanThanh, "DisplayDate") </td>
        </tr>
    }
}