
@model AnThinhPhat.Entities.Results.TacNghiepYKienCoQuanResult

@{
    AjaxOptions ajaxOption = new AjaxOptions
    {
        Url = Url.Action("EditYKien", "TacNghiep", routeValues: new { id = Model.Id }),
        HttpMethod = "POST",
        OnBegin = "onEditYKienBegin",
        OnComplete = "onEditYKienComplete",
        OnSuccess = "onEditYKienSuccess",
        OnFailure = "onEditYKienFailure",
    };
}

@using (Ajax.BeginForm(ajaxOption))
{
    @Html.HiddenFor(x => x.Id)

    <div class="col-xs-12">
        <label>Nội dung</label>
        @Html.TextAreaFor(x => x.NoiDung, htmlAttributes: new { @class = "form-control", rows = 5 })
        @Html.ValidationMessageFor(x => Model.NoiDung)
    </div>
    <div class="clearfix" style="padding-bottom:15px;"></div>
    <label class="col-sm-12">Các tập tin đính kèm</label>
    <div class="col-xs-12">
        <input type="file" id="filesUploadYKien" multiple class="form-control btn btn-info pull-left" style="max-width:300px;" />
        <button type="button" class="btn btn-primary" id="btnUploadFilesYKien" value="Upload" disabled="disabled" style="width:100px;">
            <span class="glyphicon glyphicon-upload"></span>
            Upload
        </button>
    </div>

    <span class="col-xs-12" id="spanUploadYKien"></span>
    <div class="col-xs-12" id="filesName">
    </div>
    <div class="clearfix" style="padding-bottom:15px;"></div>
    <div class="col-xs-12" id="outer">
        <div class="inner"> <input type="submit" value="Lưu" class="btn btn-primary btn-width-md col-sm-2" name="btnAdd" id="btnAdd" /></div>
        <div class="inner">
            <button type="button" class="btn btn-default btn-width-md col-sm-2" name="btnCancel" id="btnCancel" data-dismiss="modal">Hủy</button>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $('input[type="file"]').on('change', function (e) {
            $('#spanUploadYKien').text('');
            var files = e.originalEvent.target.files;
            if (files.length > 0) {
                $(this).next().removeAttr('disabled');
            }
            else {
                $(this).next().attr('disabled', 'disabled');
            }
        });

        $('#btnUploadFilesYKien').on('click', function (e) {
            if (window.FormData !== undefined) {
                var ajaxRequest = $.ajax({
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: '@Url.Action("FilesAttachNoiDungYKien", "File")' + '?Id=' + '@Model.Id' + '&TacNghiepId=' + '@Model.TacNghiepId' + '&CoQuanId=' + '@Model.CoQuanId',
                    data: function () {
                        var formData = new FormData();
                        var files = $('#filesUploadYKien').get(0).files;
                        if (files.length > 0) {
                            for (var i = 0; i < files.length; i++) {
                                formData.append("file" + i, files[i]);
                            }
                        }
                        return formData;
                    }()
                });

                ajaxRequest.success(function (e, data) {
                    //$('#filesName').html(e);
                    $('#btnUploadFilesYKien').attr('disabled', 'disabled');
                    $('#spanUploadYKien').text('Upload file successfully');
                });
                ajaxRequest.error(function () {
                    alert('Has Error in while upload file');
                });
                ajaxRequest.always(function () {
                });
            }
            else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        });
    });
</script>