@model IEnumerable<AnThinhPhat.Entities.Results.TacNghiepTinhHinhThucHienResult>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-sm-3">@Labels.TacNghiep_TinhHinhThucHien_TenCoQuan</th>
            <th class="col-sm-6">@Labels.TacNghiep_TinhHinhThucHien_MucDoHoanThanh</th>
            @*<th class="col-sm-3">Thời gian</th>*@
            @if (User.IsInRole(RoleConstant.SUPPER_ADMIN) || User.IsInRole(RoleConstant.ADMIN))
            {
                <th class="col-sm-3">@Labels.TacNghiep_TinhHinhThucHien_DaHoanThanh</th>
            }
        </tr>
    </thead>
    @if (Model.Any())
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CoQuanInfo.IfNotNull(x => x.Name)</td>
                    <td>@item.MucDoHoanThanhInfo.Ten</td>
                    @*<td>@item.ThoiGian</td>*@
                    @if ((User.IsInRole(RoleConstant.SUPPER_ADMIN) || User.IsInRole(RoleConstant.ADMIN)))
                    {
                        <td>
                            @if (item.MucDoHoanThanhId == (int)AnThinhPhat.Utilities.Enums.EnumMucDoHoanThanh.DANGTHUCHIEN || item.MucDoHoanThanhId == (int)AnThinhPhat.Utilities.Enums.EnumMucDoHoanThanh.DAHOANHTHANH)
                            {
                                @Html.CheckBoxFor(x => item.IsDaHoanThanh, htmlAttributes: new { id = item.Id, @class = "check-dahoanthanh" })
                            }
                            else
                            {
                                @Html.CheckBoxFor(x => item.IsDaHoanThanh, htmlAttributes: new { disabled = "disabled" })
                            }
                        </td>
                    }

                </tr>
            }
        </tbody>
    }
</table>
