@using AnThinhPhat.ViewModel.TacNghiep;

@model AddTacNghiepViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    AjaxOptions ajaxOption = new AjaxOptions
    {
        Url = Url.Action("Add"),
        HttpMethod = "POST",
        OnBegin = "onAddBegin",
        OnComplete = "onAddComplete",
        OnSuccess = "onAddSuccess",
        OnFailure = "onAddFailure",
    };
}

@{Html.RenderPartial("_PartialPageAlert");}

<link href="~/Content/app/plus.css" rel="stylesheet" />
<style>
    .hiddenRow {
        padding: 0px !important;
    }

    .glyphicon:hover {
        cursor: pointer;
    }
</style>

@using (Ajax.BeginForm(ajaxOption))
{
    //Id temp
    @Html.HiddenFor(x => x.Guid)

    <div class="col-sm-6">
        <label>Ngày tạo<span class="required">*</span></label>
        @Html.EditorFor(x => x.NgayTao, "DateTime")
        @Html.ValidationMessageFor(x => x.NgayTao)
    </div>

    <div class="col-sm-6">
        <label>Ngày hết hạn<span class="required">*</span></label>
        @Html.EditorFor(x => x.NgayHetHan, "DateTime")
        @Html.ValidationMessageFor(x => x.NgayHetHan)
    </div>

    <div class="col-sm-6">
        <label>Ngày hoàn thành</label>
        @Html.EditorFor(x => x.NgayHoanThanh, "DateTime")
    </div>

    <div class="col-sm-6">
        <label>Lĩnh vực<span class="required">*</span></label>
        @Html.DropDownListFor(x => x.LinhVucId, new SelectList(Model.LinhVucInfos, "Id", "Name"), "---Chọn lĩnh vực---", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LinhVucId)
    </div>

    <div class="col-md-12">
        <label>Nội dung</label>
        @Html.TextAreaFor(x => Model.NoiDung, htmlAttributes: new { @class = "form-control", rows = 3 })
        @Html.ValidationMessageFor(x => x.NoiDung)
    </div>

    //{ Html.RenderPartial("_PartialPageGroupListBodies", new InitNhomCoQuanCoLienQuanBindDataTemp { ParentNameSpace = "CoQuanInfos", NhomCoQuanInfos = Model.CoQuanInfos }); }
    @Html.EditorFor(x => Model.CoQuanInfos, "GroupListBodies")

    <div class="col-md-12">
        <label>Nội dung ý kiến trao đổi</label>
        @Html.TextAreaFor(x => Model.NoiDungYKienTraoDoi, htmlAttributes: new { @class = "form-control", rows = 10 })
    </div>

    <label class="col-sm-12">Đính kèm tập tin</label>
    <div class="col-sm-12">
        <input type="file" id="filesUpload" multiple class="form-control btn btn-info pull-left" style="max-width:300px;" />
        <button type="button" class="btn btn-primary" id="btnUpload" value="Upload" disabled="disabled" style="width:100px;">
            <span class="glyphicon glyphicon-upload"></span>
            Upload
        </button>
    </div>
    <span class="col-xs-12" id="spanUpload"></span>

    <div class="col-xs-12" id="filesName">
    </div>

    <div class="col-sm-6" id="outer">
        <div class="inner"><input type="submit" value="Lưu" class="btn btn-primary btn-width-md col-sm-2" name="btnAdd" id="btnAdd" /></div>
        <div class="inner">
            <button type="button" class="btn btn-default btn-width-md col-sm-2" name="btnCancel" id="btnCancel" data-dismiss="modal">Hủy</button>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/app/modaljs.js"></script>

    <script>
        $(document).ready(function () {
            var optionCalendar =
             {
                 autoSize: true,
                 constrainInput: true,
                 minDate: 0,
                 dateFormat: 'dd/mm/yy'
             };
            $('.control-datepicker').datepicker(optionCalendar);

            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });

            /*begin upload*/
            $('input[type="file"]').change(function (e) {
                $('#spanUpload').text('');
                var files = e.originalEvent.target.files;
                if (files.length > 0) {
                    $(this).next().removeAttr('disabled');
                }
                else {
                    $(this).next().attr('disabled', 'disabled');
                }
            });

            $('#btnUpload').on('click', function (e) {
                if (window.FormData !== undefined) {
                    var ajaxRequest = $.ajax({
                        type: "POST",
                        processData: false,
                        contentType: false,
                        url: '@Url.Action("FilesAttach", "File")' + '?guid=' + '@Model.Guid' + '&type=1',
                        data: function () {
                            var formData = new FormData();
                            var files = $('#filesUpload').get(0).files;
                            if (files.length > 0) {
                                for (var i = 0; i < files.length; i++) {
                                    formData.append("file" + i, files[i]);
                                }
                            }
                            return formData;
                        }()
                    });

                    ajaxRequest.success(function (e, data) {
                        $('#filesName').html(e);
                        $('#btnUpload').attr('disabled', 'disabled');
                        $('#spanUpload').text('Upload file successfully');
                    });
                    ajaxRequest.error(function () {
                        alert('Has Error in while upload file');
                    });
                    ajaxRequest.always(function () {
                    });
                }
                else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            });
            /*end upload*/

            onAddBegin = function () {
                onShowLoading();
            }
            onAddComplete = function () {
                onHideLoading();
            }
            onAddSuccess = function () {
                onAlertSuccess();
                window.location.href = '/@UrlLink.TACNGHIEP';
            }
            onAddFailure = function () {
                onAlertFailure();
            }
        });
    </script>
}
