@using AnThinhPhat.ViewModel.TacNghiep;

@model DetailTacNghiepViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    AjaxOptions ajaxOption = new AjaxOptions
    {
        Url = Url.Action("EditRecord"),
        HttpMethod = "POST",
        OnBegin = "onEditBegin",
        OnComplete = "onEditComplete",
        OnSuccess = "onEditSuccess",
        OnFailure = "onEditFailure",
    };
}

<link href="~/Content/app/plus.css" rel="stylesheet" />
<style>
    .hiddenRow {
        padding: 0px !important;
    }

    .glyphicon:hover {
        cursor: pointer;
    }
</style>

<div class="row">
    @using (Ajax.BeginForm(ajaxOption))
    {
        @Html.HiddenFor(x => Model.Id)

        <div class="col-sm-6">
            <label>Ngày tạo</label>
            @Html.TechShowFor(x => x.NgayTao, "DateTime", !Model.IsRoleAdmin)
        </div>

        <div class="col-sm-6">
            <label>Ngày hết hạn</label>
            @Html.TechShowFor(x => Model.NgayHetHan, "DateTime", !Model.IsRoleAdmin)
            @Html.ValidationMessageFor(x => x.NgayHetHan)
        </div>

        <div class="col-sm-6">
            <label>Ngày hoàn thành</label>
            @Html.TechShowFor(x => Model.NgayHoanThanh, "DateTime", !Model.IsRoleAdmin)
        </div>

        <div class="col-sm-6">
            <label>Lĩnh vực</label>
            @Html.TechDropDownListFor(x => Model.LinhVucTacNghiepId, new SelectList(Model.LinhVucTacNghiepInfo, "Id", "Name"), htmlAttributes: new { @class = "form-control" }, disabled: !Model.IsRoleAdmin)
        </div>

        <div class="col-md-12">
            <label>Nội dung</label>
            @Html.TechTextAreaFor(x => Model.NoiDung, htmlAttributes: new { @class = "form-control", rows = 3 }, disabled: !Model.IsRoleAdmin)
        </div>

        @Html.TechShowFor(x => Model.NhomCoQuanCoLienQuanInfo, "GroupListBodies", !Model.IsRoleAdmin)

        <div class="col-md-12" style="padding-bottom:30px;">
            <label>Nội dung ý kiên trao đổi</label>
            @Html.TechTextAreaFor(x => Model.NoiDungYKienTraoDoi, htmlAttributes: new { @class = "form-control", rows = 10 }, disabled: !Model.IsRoleAdmin)
        </div>

        <label class="col-sm-12">Các tập tin đính kèm</label>
        <div class="col-sm-12">
            @if (Model.IsRoleAdmin)
            {
                <input type="file" id="filesUpload" multiple class="form-control btn btn-info pull-left" style="max-width:300px;" />
                <button type="button" class="btn btn-primary" id="btnUpload" value="Upload" disabled="disabled" style="width:100px;">
                    <span class="glyphicon glyphicon-upload"></span>
                    Upload
                </button>
            }
            <div style="padding-bottom:30px;">
                <span class="col-xs-12" id="spanUpload">
                </span>
                <div id="filesName">
                    @Html.Raw(Model.JsonFiles)
                </div>
            </div>
        </div>

        <div class="col-sm-12" id="formYKienCoQuan">
            <label>Nội dung ý kiến của các cơ quan</label>
            @{ Html.RenderAction("NoiDungYKienCuaCacCoQuan", new { id = Model.Id }); }
        </div>

        <div class="col-sm-12">
            <label>Tình hình thực hiện công việc của các cơ quan</label>
            @{ Html.RenderAction("TinhHinhThucHien", new { id = Model.Id }); }
        </div>

                if (Model.IsRoleAdmin)
                {
                    <div class="col-sm-6" id="outer">
                        <div class="inner"><input type="submit" value="Cập nhật" class="btn btn-primary btn-width-md" name="btnAdd" id="btnAdd" /></div>
                        <div class="inner">
                            @Html.RouteLink("Hủy", UrlLink.TACNGHIEP, null, htmlAttributes: new { @class = "btn btn-default btn-width-md" })
                        </div>
                    </div>
                    }
                }
</div>

<div class="modal fade in" id="modalEditYKienCoQuan">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh sửa nội dung</h4>
            </div>
            <div class="modal-body" id="modalEditBody">
                @*Will insert data to here*@
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script src="~/Scripts/app/modaljs.js"></script>
    <script src="~/Scripts/app/tacnghiep-detail.js"></script>

    <script>
        $(document).ready(function () {
            $('#btnUpload').on('click', function (e) {
                if (window.FormData !== undefined) {
                    var ajaxRequest = $.ajax({
                        type: "POST",
                        processData: false,
                        contentType: false,
                        url: '@Url.Action("FilesAttach", "File")' + '?guid=' + 'TN\\@Model.Id.ToString().PadLeft(TechOfficeConfig.LENGTHFOLDER,TechOfficeConfig.PAD_CHAR)' + '&type=1',
                        data: function () {
                            var formData = new FormData();
                            var files = $('#filesUpload').get(0).files;
                            if (files.length > 0) {
                                for (var i = 0; i < files.length; i++) {
                                    formData.append("file" + i, files[i]);
                                }
                            }
                            return formData;
                        }()
                    });

                    ajaxRequest.success(function (e, data) {
                        $('#filesName').html(e);
                        $('#btnUpload').attr('disabled', 'disabled');
                        $('#spanUpload').text('Upload file successfully');
                    });
                    ajaxRequest.error(function () {
                        alert('Has Error in while upload file');
                    });
                    ajaxRequest.always(function () {
                    });
                }
                else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            });



            /*Update co quan lien quan*/
            $('.check-cqlq').on('change', function () {
                var nhomCoQuanId = $(this).attr('data-ncq');
                var coQuanId = $(this).attr('id');
                var tacNghiepId = '@Model.Id';
                var url = '@Url.Action("UpdateCoQuanLienQuan", "TacNghiepTinhHinhThucHien")';
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        tacNghiepId: tacNghiepId,
                        coQuanId: coQuanId,
                    }
                });
            });
            /*Update co quan lien quan*/

            $('.check-dahoanthanh').on('change', function () {
                var id = $(this).attr('id');
                var url = '@Url.Action("UpdateMucDoHoanThanh", "TacNghiepTinhHinhThucHien")';
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        id: id,
                    }
                });
            });
        });
    </script>
}
