@model AnThinhPhat.ViewModel.TacNghiep.InitTacNghiepViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<!--start:body-->
<div class="boxr" style="width:100%">
    <h1 class="title title_ct"><span>Văn bản</span></h1>

    <div class="pading">
        <div class="entry form-horizontal">
            @using (Html.BeginForm("Index", "TacNghiep", FormMethod.Get))
            {
                <div class="col-md-6">
                    <label>Chọn nhóm cơ quan</label>
                    @Html.DropDownListFor(x => Model.NhomCoQuanId, new SelectList(Model.NhomCoQuanInfos, "Id", "Name"), "Tất cả", htmlAttributes: new { @class = "form-control" })
                    <label>Chọn cơ quan</label>
                    @Html.DropDownListFor(x => Model.CoQuanId, new SelectList(Model.CoQuanInfos, "Id", "Name"), "Tất cả", htmlAttributes: new { @class = "form-control" })
                    <label>Chọn lĩnh vực</label>
                    @Html.DropDownListFor(x => Model.LinhVucTacNghiepId, new SelectList(Model.LinhVucTacNghiepInfo, "Id", "Name"), "Tất cả", htmlAttributes: new { @class = "form-control" })
                    <label>Chọn mức độ hoàn thành</label>
                    @Html.DropDownListFor(x => Model.MucDoHoanThanhId, new SelectList(Model.MucDoHoanThanhInfo, "Id", "Ten"), "Tất cả", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    <label>Chọn năm</label>
                    @Html.DropDownListFor(x => Model.NamBanHanhId, new SelectList(Model.NamBanHanhInfo, "Id", "Name"), "Tất cả", htmlAttributes: new { @class = "form-control" })
                    <label>Chọn thông tin tìm kiếm</label>
                    @Html.TextBoxFor(x => Model.NhapThongTinTimKiem, htmlAttributes: new { @class = "form-control" })
                    <label>Chọn tiêu chí tìm kiếm</label>
                    @Html.TextBoxFor(x => Model.TieuChiTimKiem, htmlAttributes: new { @class = "form-control" })
                    <label>&nbsp;</label>
                    <div id="outer">
                        <div class="inner"><input type="submit" class="btn btn-primary btn-width-md" value="Tìm kiếm" /></div>
                        <div class="inner">
                            @Html.RouteLink("Thống kê", UrlLink.TACNGHIEP_THONGKE, null, htmlAttributes: new { @class = "btn btn-primary" })
                        </div>
                        <div class="inner">
                            @Html.RouteLink("Thêm mới", UrlLink.TACNGHIEP_ADD, null, htmlAttributes: new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="clear"></div>
    <h3><span style="font-size: x-large;">Danh sách thủ tục hành chính</span></h3>
    <div class="table_over">
        <table style="width: 720px; border-collapse: collapse;" border="1" cellspacing="8" cellpadding="8">
            <tbody>
                <tr style="background-color: #d50100;" align="center" valign="middle">
                    <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">STT</span></span></strong></td>
                    <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Thủ tục</span></span></strong></td>
                    <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Lĩnh vực</span></span></strong></td>
                    <td><strong><span style="font-size: medium;"><span style="color: #ffffff;">Cơ quan thực hiện</span></span></strong></td>

                </tr>
                <tr align="center">
                    <td>1</td>
                    <td>Thủ tục bổ nhiệm ngạch công chức</td>
                    <td>Cán bộ, công viên chức</td>
                    <td>Sổ nội vụ</td>
                </tr>
                <tr align="center">
                    <td>1</td>
                    <td>Thủ tục bổ nhiệm ngạch công chức</td>
                    <td>Cán bộ, công viên chức</td>
                    <td>Sổ nội vụ</td>
                </tr>
                <tr align="center">
                    <td>1</td>
                    <td>Thủ tục bổ nhiệm ngạch công chức</td>
                    <td>Cán bộ, công viên chức</td>
                    <td>Sổ nội vụ</td>
                </tr>
                <tr align="center">
                    <td>1</td>
                    <td>Thủ tục bổ nhiệm ngạch công chức</td>
                    <td>Cán bộ, công viên chức</td>
                    <td>Sổ nội vụ</td>
                </tr>
                <tr align="center">
                    <td>1</td>
                    <td>Thủ tục bổ nhiệm ngạch công chức</td>
                    <td>Cán bộ, công viên chức</td>
                    <td>Sổ nội vụ</td>
                </tr>
                <tr align="center">
                    <td>1</td>
                    <td>Thủ tục bổ nhiệm ngạch công chức</td>
                    <td>Cán bộ, công viên chức</td>
                    <td>Sổ nội vụ</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="scott">
            <strong class="first active">1</strong> <a href="#">2</a> <a href="#">4</a> <a href="#4">5</a> <a href="#5">6</a> <a href="#6">7</a> <a href="#7">8</a> <a href="#8">9</a> <a href="#9">10</a> <a href="#1">Tiếp</a> <a href="#10" class="last">Cuối »</a>
        </div>
    </div>
</div>
<!--end:body-->
