@using PagedList
@model IPagedList<AnThinhPhat.Entities.Results.HoSoCongViecResult>

<div class="clear"></div>
<div class="col-xs-12">
    <h3><span style="font-size: x-large;">@Labels.CongViec_List_Title</span></h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-stt">@Labels.CongViec_List_STT</th>
                    <th class="text-center">@Labels.CongViec_List_NgayTao</th>
                    <th class="text-center">@Labels.CongViec_List_NgayHetHan</th>
                    <th class="text-center">@Labels.CongViec_List_PhuTrach</th>
                    <th class="text-center">@Labels.CongViec_List_XuLyChinh</th>
                    <th class="text-center">@Labels.CongViec_List_PhoiHop</th>
                    <th class="text-center">@Labels.CongViec_List_TrangThai</th>
                    <th class="text-center">@Labels.CongViec_List_LinhVuc</th>
                    <th class="text-center">@Labels.CongViec_List_NoiDungCongViec</th>
                    <th class="text-center">@Labels.CongViec_List_QuaTrinhXuLy</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    int i = -1;
                    foreach (var item in Model)
                    {
                        i = i + 1;
                        var fontColor = string.Empty;
                        switch (item.TrangThaiCongViecId)
                        {
                            case 1:
                                fontColor = "text-danger";
                                break;
                            case 2:
                                fontColor = "text-info";
                                break;
                            default:
                                break;
                        }

                        <tr>
                            <td class="@fontColor">@Html.Raw(i + 1)</td>
                            <td class="@fontColor">@Html.DisplayFor(x => item.NgayTao, "DisplayDateTime")</td>
                            <td class="@fontColor">@Html.DisplayFor(x => item.NgayHetHan, "DisplayDateTime")</td>
                            <td class="@fontColor">@item.UserPhuTrach.HoVaTen</td>
                            <td class="@fontColor">@item.UserXyLy.HoVaTen</td>
                            <td class="@fontColor">
                                @foreach (var phoihop in item.CongViecPhoiHopResult)
                                {
                                    <span> @phoihop.UserInfo.UserName</span><br />
                                }
                            </td>
                            <td class="@fontColor">@item.TrangThaiCongViecInfo.Name</td>
                            <td class="@fontColor">@item.LinhVucCongViec.Name</td>
                            <td class="@fontColor">@Html.RouteLink(item.NoiDung, routeName: UrlLink.CONGVIEC_DETAIL, routeValues: new { id = item.Id })</td>
                            <td class="@fontColor">
                                @foreach (var qt in item.CongViecQuaTrinhXuLyResult)
                                {
                                    <span>@string.Format("{0}:{1} {2} {3}: {4}", qt.GioBanHanh, qt.PhutBanHanh, qt.NgayBanHanh?.ToString("dd/MM/yyyy"), qt.NguoiThem, qt.NoiDung)</span><br />
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>