@model AnThinhPhat.ViewModel.CongViec.InitVanBanViewModel
<table>
    <tbody id="templateRow">
        <tr>
            <td>
                @Html.TextBoxFor(x => Model.SoVanBan, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(x => Model.SoVanBan)
            </td>
            <td>@Html.EditorFor(x => Model.Ngay, "DateTime")</td>
            <td>@Html.TextBoxFor(x => Model.NoiDung, htmlAttributes: new { @class = "form-control" })</td>
            <td>@Html.DropDownListFor(x => Model.CoQuanId, new SelectList(Model.CoQuanInfos, "Id", "Name"), "-- Chọn cơ quan --", htmlAttributes: new { @class = "form-control" })</td>
        </tr>
    </tbody>
</table>

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        var optionCalendar =
         {
             autoSize: true,
             constrainInput: true,
             dateFormat: 'dd/mm/yy',
             minDate: new Date(),
         };
        $('.control-datepicker').datepicker(optionCalendar);
    });

</script>