@using PagedList
@model IPagedList<AnThinhPhat.Entities.Results.HoSoCongViecResult>

<div class="clear"></div>
<div class="col-xs-12">
    <h3><span style="font-size: x-large;">@Labels.CongViec_List_Title</span></h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-stt">@Labels.CongViec_List_STT</th>
                    <th class="text-center">@Labels.CongViec_List_NgayTao</th>
                    <th class="text-center">@Labels.CongViec_List_NgayHetHan</th>
                    <th class="text-center">@Labels.CongViec_List_PhuTrach</th>
                    <th class="text-center">@Labels.CongViec_List_XuLyChinh</th>
                    <th class="text-center">@Labels.CongViec_List_PhoiHop</th>
                    <th class="text-center">@Labels.CongViec_List_TrangThai</th>
                    <th class="text-center">@Labels.CongViec_List_LinhVuc</th>
                    <th class="text-center">@Labels.CongViec_List_NoiDungCongViec</th>
                    <th class="text-center">@Labels.CongViec_List_QuaTrinhXuLy</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    int i = -1;
                    foreach (var item in Model)
                    {
                        i = i + 1;
                        <tr>
                            <td>@Html.Raw(i + 1)</td>
                            <td>@Html.DisplayFor(x => item.NgayTao, "DisplayDateTime")</td>
                            <td>@Html.DisplayFor(x => item.NgayHetHan, "DisplayDateTime")</td>
                            <td>@item.UserPhuTrach.HoVaTen</td>
                            <td>@item.UserXyLy.HoVaTen</td>
                            <td>
                                @foreach (var phoihop in item.CongViecPhoiHopResult)
                                {
                                    <span> @phoihop.UserInfo.UserName</span><br />
                                }
                            </td>
                            <td>@item.TrangThaiCongViecInfo.Name</td>
                            <td>@item.LinhVucCongViec.Name</td>
                            <td>@item.NoiDung</td>
                            <td>
                                @foreach (var qt in item.CongViecQuaTrinhXuLyResult)
                                {
                                    <span>@string.Format("{0}:{1} {2} {3}: {4}", qt.GioBanHanh, qt.PhutBanHanh, qt.NgayBanHanh?.ToString("dd/MM/yyyy"), qt.NguoiThem, qt.NoiDung)</span><br />
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>