@model AnThinhPhat.ViewModel.CongViec.InitCongViecViewModel

@{
    Layout = "~/Views/Shared/_LayoutCV.cshtml";
}
<div class="bg dtapg">
    <div class="boxr" style="width:100%">
        <h1 class="title title_ct"><span>@Labels.CongViec_Index_Title</span></h1>
        <div class="pading">
            <div class="entry">
                @using (Html.BeginRouteForm(UrlLink.CONGVIEC, FormMethod.Get))
                {
                    <div class="col-md-3">
                        <label>@Labels.CongViec_Index_ChonNhanVien</label>
                        @Html.DropDownListFor(x => Model.UserId, new SelectList(Model.UsersInfos, "Id", "HoVaTen"), htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>@Labels.CongViec_Index_VaiTroXuLy</label>
                        @Html.OfficeEnumDropDownListFor(x => x.Role, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>@Labels.CongViec_Index_TinhTrang</label>
                        @Html.DropDownListFor(x => x.TrangThaiCongViecId, new SelectList(Model.TrangThaiCongViecInfos, "Id", "Name"), Labels.CongViec_Index_TatCa, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>@Labels.CongViec_Index_LinhVucCongViec</label>
                        @Html.DropDownListFor(x => Model.LinhVucCongViecId, new SelectList(Model.LinhVucCongViecInfos, "Id", "Name"), Labels.CongViec_Index_TatCa, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-12">
                        <label>@Labels.CongViec_Index_NoiDungCongViec</label>
                        @Html.TextBoxFor(x => Model.NoiDungCongViec, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-12" id="outer" style="padding-top:20px;">
                        <div class="inner">
                            <input type="submit" value='@Buttons.CongViec_Index_TimKiem' class="btn btn-primary" id="btnSearch" />
                        </div>
                        <div class="inner">@Html.RouteLink(Buttons.CongViec_Index_ThongKe, UrlLink.CONGVIEC_THONGKE, null, htmlAttributes: new { @class = "btn btn-primary" })</div>
                        <div class="inner">@Html.RouteLink(Buttons.CongViec_Index_ThemMoi, "congviec/themmoi", null, htmlAttributes: new { @class = "btn btn-primary" })</div>
                    </div>
                }

                @{Html.RenderAction("List", "CongViec", Model.ValueSearch);}

            </div>

        </div>
    </div>
</div>