@model  AnThinhPhat.Entities.Results.VanBanResult

<style>
    .col-sm-6,
    .col-sm-12 {
        padding-bottom: 15px;
    }

    .modal-dialog {
        width: 90%;
    }
</style>
<div class="col-sm-12">
    <label>Số ký hiệu: </label>
    @Model.SoVanBan
</div>
<div class="col-sm-12">
    <label>Ngày ban hành: </label>
    @Model.NgayBanHanh.ToString("dd/MM/yyyy")
</div>
<div class="col-sm-12">
    <label>Trích yếu: </label>
    @Model.TrichYeu
</div>
<div class="col-sm-12">
    <label>Cơ quan ban hành: </label>
    @Model.CoQuanBanHanhVanBanInfo.Name
</div>
<div class="col-sm-12">
    <label>Loại văn bản: </label>
    @Model.LoaiVanBanInfo.Name
</div>
<div class="col-sm-12">
    <label>Lĩnh vực: </label>
    @Model.LoaiVanBanInfo.Name
</div>

<div class="col-sm-12">
    <label>Nội dung văn bản:</label><br/>
    @Model.NoiDung
    @*@Html.EditorFor(x=>Model.NoiDung,"RichEditor")*@
</div>

<div class="col-sm-12">
    <label>Danh sách các tập tin:</label>
    <br />
    @{ Html.RenderPartial("_PartialPageFiles", Model.Files);}
</div>