@using PagedList;
@using PagedList.Mvc;

@model IPagedList<AnThinhPhat.Entities.Results.VanBanResult>

@{
    var ajaxPaging = new AjaxOptions()
    {
        UpdateTargetId = "tblMST",
        HttpMethod = "GET",
    };
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center col-sm-2 col-action">Số ký hiệu</th>
            <th class="text-center col-sm-1">Ngày ban hành</th>
            <th class="text-center col-sm-3">Trích yếu</th>
            <th class="text-center col-sm-2">Cơ quan ban hành</th>
            <th class="text-center col-sm-1">Loại văn bản</th>
            <th class="text-center col-sm-1">Lĩnh vực</th>
            <th class="text-center col-sm-1">Ngày đăng</th>
            <th class="text-center col-sm-1">Người đăng</th>
            <th class="col-sm-1"></th>
        </tr>
    </thead>
    @if (Model != null && Model.Any())
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>
                            @item.SoVanBan
                        </strong>
                    </td>
                    <td>@Html.DisplayFor(x => item.NgayBanHanh, "DisplayDate")</td>
                    <td>@item.TrichYeu</td>
                    <td>@item.CoQuanBanHanhVanBanInfo.Name</td>
                    <td>@item.LoaiVanBanInfo.Name</td>
                    <td>@item.LinhVucVanBanInfo.Name</td>
                    <td> @Html.DisplayFor(x => item.CreateDate, "DisplayDateTime")</td>
                    <td>@item.CreatedBy</td>
                    <td class="link-action text-center">
                        @Html.RouteLink("Sửa", UrlLink.VANBAN_EDIT, new { sovanban = item.SoVanBan.RejectMarks(), id = item.Id }) |
                        <a href="#" data-url='@Url.Action("Delete", new {id = item.Id})' id="lnkDelete_@item.Id" data-toggle="popover">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tr><td colspan="4">No rows found.</td></tr>
    }
    <tfoot>
        <tr>
            <td colspan="9">
                <div id="contentPager" class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("ViewList", "VanBan", new { page }),
                           PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ajaxPaging))
                </div>
            </td>
        </tr>
    </tfoot>
</table>