@model AnThinhPhat.ViewModel.VanBan.EditVanBanViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Edit", "VanBan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-sm-6">
        <label>Ngày ban hành<span class="required">*</span></label>
        @Html.EditorFor(x => Model.NgayBanHanh, "DateTime")
        @Html.ValidationMessageFor(x => x.NgayBanHanh)
    </div>
    <div class="col-sm-6">
        <label>Số ký hiệu<span class="required">*</span></label>
        @Html.TextBoxFor(x => Model.SoVanBan, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SoVanBan)
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12">
        <label>Nội dung văn bản<span class="required">*</span></label>
        @Html.TextAreaFor(x => Model.NoiDungVanBan, htmlAttributes: new { @class = "form-control", rows = 10 })
        @Html.ValidationMessageFor(x => x.NoiDungVanBan)
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12">
        <label>Trích yếu văn bản<span class="required">*</span></label>
        @Html.TextAreaFor(x => Model.TrichYeuVanBan, htmlAttributes: new { @class = "form-control", rows = 5 })
        @Html.ValidationMessageFor(x => x.TrichYeuVanBan)
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-4">
        <label>Cơ quan ban hành<span class="required">*</span></label>
        @Html.DropDownListFor(x => Model.CoQuanBanhHanhVanBanId, new SelectList(Model.CoQuanBanHanhVanBanInfos, "Id", "Name"), "Chọn cơ quan ban hành", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CoQuanBanhHanhVanBanId)
    </div>
    <div class="col-sm-4">
        <label>Loại văn bản<span class="required">*</span></label>
        @Html.DropDownListFor(x => Model.LoaiVanBanId, new SelectList(Model.LoaiVanBanInfos, "Id", "Name"), "Chọn loại văn bản", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LoaiVanBanId)
    </div>
    <div class="col-sm-4">
        <label>Lĩnh vực văn bản<span class="required">*</span></label>
        @Html.DropDownListFor(x => Model.LinhVucVanBanId, new SelectList(Model.LinhVucVanBanInfos, "Id", "Name"), "Chọn lĩnh vực văn bản", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LinhVucVanBanId)
    </div>
    <div class="clearfix" ></div>
    <label class="col-sm-12">Các tập tin đính kèm</label>
    <div class="col-sm-12">
        @Html.TextBoxFor(x => x.Files, htmlAttributes: new { type = "file", multiple = "true", @class = "form-control btn btn-info pull-left", style = "max-width:300px;" })
    </div>
    <div class="col-sm-12">
        @{ Html.RenderPartial("_PartialPageFiles", Model.TapTinVanBanResults); }
    </div>

    <div class="clearfix" ></div>
    <div id="outer" class="col-xs-12">
        <div class="inner">
            <input type="submit" class="btn btn-primary btn-width-md" value="Cập nhật" />
        </div>
        <div class="inner">
            @Html.RouteLink("Hủy", UrlLink.VANBAN, htmlAttributes: new { @class = "btn btn-primary btn-width-md" })
        </div>
    </div>
            }

@section Scripts{
    <script src="~/Scripts/app/format-datetime.js"></script>
    <script src="~/Scripts/app/vanban-add.js"></script>
}
