@model AnThinhPhat.ViewModel.VanBan.InitVanBanViewModel
@{
    Layout = "~/Views/Shared/_LayoutVanBan.cshtml";
}

<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />

<div class="boxr" style="width:100%">
    <h1 class="title title_ct"><span>Văn bản</span></h1>
    <div class="row">
        <div class="pading">
            <div class="entry">
                @using (Html.BeginForm("Index", "VanBan", FormMethod.Get))
                {
                    <div class="col-sm-4">
                        <label style="width:100%">Cơ quan ban hành</label>
                        @*@Html.DropDownListFor(x => Model.CoQuanBanHanhVanBanId, new SelectList(Model.CoQuanBanHanhVanBanInfos, "Id", "Name"), "--------------Tất cả cơ quan ban hành--------------", htmlAttributes: new { @class = "form-control" })*@
                        @Html.ListBoxFor(x => Model.CoQuanBanHanhVanBanIds, new MultiSelectList(Model.CoQuanBanHanhVanBanInfos, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-4">
                        <label style="width:100%">Loại văn bản</label>
                        @*@Html.DropDownListFor(x => Model.LoaiVanBanId, new SelectList(Model.LoaiVanBanInfos, "Id", "Name"), "----------Tất cả văn bản-----------", htmlAttributes: new { @class = "form-control" })*@
                        @Html.ListBoxFor(x => Model.LoaiVanBanIds, new MultiSelectList(Model.LoaiVanBanInfos, "Id", "Name"), new { @class = "form-control" })
                    </div>
                    <div class="col-sm-4">
                        <label style="width:100%">Lĩnh vực</label>
                        @*@Html.DropDownListFor(x => Model.LinhVucVanBanId, new SelectList(Model.LinhVucVanBanInfos, "Id", "Name"), "----------Tất cả lĩnh vực-----------", htmlAttributes: new { @class = "form-control" })*@
                        @Html.ListBoxFor(x => Model.LinhVucVanBanIds, new MultiSelectList(Model.LinhVucVanBanInfos, "Id", "Name"), new { @class = "form-control" })
                    </div>

                    <div class="clearfix" style="margin-bottom:15px;"></div>
                    <div class="col-sm-3">
                        <label style="width:100%">Năm ban hành</label>
                        @*@Html.DropDownListFor(x => Model.NamBanHanhId, new SelectList(Model.NamBanHanhInfo, "Id", "Name"), "----------Tất cả----------", htmlAttributes: new { @class = "form-control" })*@
                        @Html.ListBoxFor(x => Model.NamBanHanhIds, new MultiSelectList(Model.NamBanHanhInfo, "Id", "Name"), new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        <label>Số lượng kết quả</label>
                        @Html.DropDownListFor(x => Model.PagingNumberId, new SelectList(Model.PagingNumberInfo, "Number", "Number"), htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-6">
                        <label>Tên văn bản</label>
                        @Html.TextBoxFor(x => Model.TenVanBan, htmlAttributes: new { @class = "form-control" })
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-12 form-inline">
                        <label>Tìm trong: </label>
                        <label>Số/Kí hiệu văn bản</label>
                        @Html.CheckBoxFor(x => x.TimTrongSoHieu, htmlAttributes: new { @class = "form-control checkbox-inline" })

                        <label>Trích yếu văn bản</label>
                        @Html.CheckBoxFor(x => x.TimTrongTrichYeu, htmlAttributes: new { @class = "form-control checkbox-inline" })

                        <label>Nội dung văn bản</label>
                        @Html.CheckBoxFor(x => x.TimTrongNoiDung, htmlAttributes: new { @class = "form-control checkbox-inline" })
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-xs-12">
                        <input type="submit" class="btn btn-primary btn-width-md" value="Tìm kiếm" />
                    </div>
                }
            </div>
        </div>

        <!------>

        <div class="col-xs-12">
            <h3><span style="font-size: x-large;">Danh sách văn bản</span></h3>
            <div id="tableAdmin" class="table-responsive">
                @{Html.RenderAction("List", "VanBan", routeValues: new { search = Model.ValueSearch });}
            </div>
        </div>
    </div>
</div>

@{Html.RenderPartial("_PartialPagePopupDetail", "Chi tiết văn bản");}

@section Scripts{
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/app/popup-detail.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#CoQuanBanHanhVanBanIds').multiselect({
                includeSelectAllOption: true
            });

            $('#LoaiVanBanIds').multiselect({
                includeSelectAllOption: true
            });
            $(' #LinhVucVanBanIds').multiselect({
                includeSelectAllOption: true
            });
            $('#NamBanHanhIds').multiselect({
                includeSelectAllOption: true
            });

            $('.btn-group').css("width", "100%");
            $('.btn-group > button, .btn-group > ul').css("width", "100%");
        });
    </script>
}