@model AnThinhPhat.ViewModel.Menu.InitMenuVanBanViewModel

<div class="supp">
    <h3 class="sbar">
        <a href="" style="color: #000">Danh mục</a>
        <div class="btn_down btn_down_sp">
            <i class="fa fa-chevron-down"></i>
        </div>
    </h3>
    <div class="menu_products">
        <ul id="menu_left">
            <li>
                @Html.RouteLink("Tất cả văn bản", AnThinhPhat.Utilities.UrlLink.VANBAN)
            </li>
            <li>@Html.RouteLink("Cơ quan ban hành", AnThinhPhat.Utilities.UrlLink.VANBAN)</li>
            @foreach (var item in Model.LinhVucVanBanInfos)
            {
                <li style="list-style:none; padding-left:30px;">
                    @Html.RouteLink(item.Name, AnThinhPhat.Utilities.UrlLink.VANBAN, routeValues: new { coQuanId = item.Id })
                </li>
            }
            <li>@Html.RouteLink("Loại văn bản", AnThinhPhat.Utilities.UrlLink.VANBAN)</li>
            @foreach (var item in Model.LoaiVanBanInfos)
            {
                <li style="list-style:none; padding-left:30px;">
                    @Html.RouteLink(item.Name, AnThinhPhat.Utilities.UrlLink.VANBAN, routeValues: new { loaiVanBanId = item.Id })
                </li>
            }
        </ul>
    </div>
</div>

@{Html.RenderPartial("_PartialPageMenuSubLeft");}