@model AnThinhPhat.ViewModel.Menu.InitMenuVanBanViewModel

<div class="supp">
    <h3 class="sbar">
        <a href="#">Danh mục</a>
        <div class="btn_down btn_down_sp">
            <i class="fa fa-chevron-down"></i>
        </div>
    </h3>
    <div class="menu_products btn_down_spshow">
        <ul id="menu_left">
            <li>
                @Html.RouteLink("Tất cả văn bản", UrlLink.VANBAN)
            </li>
            <li>@Html.RouteLink("Cơ quan ban hành", UrlLink.VANBAN)</li>
            @foreach (var item in Model.CoQuanBanHanhVanBanInfos)
            {
                <li style="list-style:none; padding-left:30px;">
                    @Html.RouteLink(item.Name, UrlLink.VANBAN, routeValues: new { coQuanBanHanhVanBanId = item.Id })
                </li>
            }
            <li>@Html.RouteLink("Loại văn bản", UrlLink.VANBAN)</li>
            @foreach (var item in Model.LoaiVanBanInfos)
            {
                <li style="list-style:none; padding-left:30px;">
                    @Html.RouteLink(item.Name, UrlLink.VANBAN, routeValues: new { loaiVanBanId = item.Id })
                </li>
            }
        </ul>
    </div>
</div>

@{Html.RenderPartial("_PartialPageMenuSubLeft");}